:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SaintAmour";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("SaintAmour"),
    /* Если не получилось, загрузит woff2 */
    url("./fonts/saint_amour_script.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("./fonts/saint_amour_script.woff") format("woff");
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Cormorant"),
    /* Если не получилось, загрузит woff2 */
    url("./fonts/Cormorantinfantlight.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("./fonts/Cormorantinfantlight.woff") format("woff");
}

html {
  scrollbar-width: thin;
  overflow-x: hidden;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.card {
  padding: 2em;
}